@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  margin: 0; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img,
svg {
  border: 0;
  max-width: 100%; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  background: none;
  border: none; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #757D86; }

.type-heading--small {
  color: #757D86;
  font-family: "Alegreya Sans SC";
  font-size: 24px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 20px; }

.type-heading--large {
  color: #565D65;
  font-size: 46px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 20px; }
  @media screen and (min-width: 1107px) {
    .type-heading--large {
      font-size: 60px; } }

.type-heading--feature {
  font-family: "Alegreya Sans SC";
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 10px 0; }
  @media screen and (min-width: 751px) {
    .type-heading--feature {
      font-size: 46px; } }

.type-heading--card {
  color: #565D65;
  font-family: "Alegreya Sans SC";
  font-size: 44px;
  text-align: center;
  margin: 10px 0;
  font-weight: 300; }

.type-sub-heading {
  color: #565D65;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 24px;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #757D86;
  font-weight: 400; }

.type-heading--feature {
  font-family: "Alegreya Sans SC";
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 10px 0; }
  @media screen and (min-width: 751px) {
    .type-heading--feature {
      font-size: 22px; } }

.type-menu {
  font-family: "Alegreya Sans SC";
  font-size: 18px;
  font-weight: 300; }

.text-center {
  text-align: center; }

.button {
  color: #FFFFFF;
  background-color: #FFCE00;
  padding: 20px 30px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  text-decoration: none;
  transition: 0.2s color ease-in-out, 0.2s transform ease-in-out; }
  @media screen and (min-width: 751px) {
    .button {
      margin: initial; } }

.button--inline {
  margin: 0; }
  .button--inline:hover {
    transform: scale(1) !important; }

.button--center {
  margin: 0 auto; }

.button:hover {
  transform: scale(1.05);
  background-color: #ffd10f; }

.button__text {
  position: relative;
  top: 1px; }

.button__text-with-icon {
  margin-left: 10px; }

.button--shadow {
  box-shadow: 0 4px 12px 0 rgba(255, 206, 0, 0.4); }

.card {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 246px;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.12);
  margin: 0 20px 40px 20px; }

.card:nth-child(4) {
  margin-bottom: 0; }

.card__icon {
  max-width: 106px;
  max-height: 106px; }

.card__blurb {
  color: #757D86;
  line-height: 1.5em;
  min-height: 4.5em; }

.icon--small {
  max-width: 23px;
  height: 23px; }

.icon--medium {
  max-width: 50px;
  height: 50px; }

.hero {
  position: relative;
  overflow: hidden;
  min-height: 625px; }

.hero__cta {
  text-align: center;
  padding: 30px 0;
  animation: 0.35s ease-in-out fade-in; }
  @media screen and (min-width: 751px) {
    .hero__cta {
      text-align: left;
      max-width: 50%;
      margin-left: 0; } }
  @media screen and (min-width: 1107px) {
    .hero__cta {
      max-width: 456px;
      margin-left: 60px; } }

.hero__phone {
  margin-top: 10px;
  margin-bottom: -270px;
  animation: 0.75s ease-in-out fade-in; }
  @media screen and (min-width: 751px) {
    .hero__phone {
      position: absolute;
      top: 0;
      right: 60px;
      top: 20px;
      max-width: 324px; } }
  @media screen and (min-width: 1107px) {
    .hero__phone {
      right: 0;
      max-width: 414px;
      transform: rotate(30deg) translate(-197px, -121px); } }

.hero-block {
  opacity: 0;
  transition: 1.3s opacity ease-in-out; }
  @media screen and (min-width: 751px) {
    .hero-block {
      opacity: 1;
      position: absolute;
      border: 2px solid #F2F2F6;
      z-index: -1; } }

.hero__block-left-1 {
  left: -2px;
  bottom: -2px;
  width: 5%;
  height: 75%; }

.hero__block-left-2 {
  left: -2px;
  bottom: -2px;
  width: 25%;
  height: 15%; }

.hero__block-right-1 {
  top: -2px;
  right: -2px;
  width: 60%;
  height: 10%; }

.hero__block-right-2 {
  top: -2px;
  right: -2px;
  width: 45%;
  height: 70%; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (min-width: 751px) {
  .cta--mobile {
    display: none; } }

@media screen and (max-width: 749px) {
  .cta--non-mobile {
    display: none !important; } }

@media screen and (min-width: 751px) {
  .cta--non-mobile {
    display: -ms-flexbox !important;
    display: flex !important; } }

.cta__label {
  display: inline-block;
  margin-bottom: 10px; }

.success {
  color: #FFCE00;
  margin-top: 10px; }

.failure {
  color: #FF7246;
  max-width: 286px;
  margin-top: 10px; }

.cta--center {
  -ms-flex-pack: center;
      justify-content: center; }

.logo {
  display: block;
  max-width: 242px;
  max-height: 71px; }

.wrapper {
  position: relative;
  padding: 30px; }
  @media screen and (min-width: 751px) {
    .wrapper {
      max-width: 1000px;
      margin: 0 auto;
      padding: 30px 60px; } }
  @media screen and (min-width: 1107px) {
    .wrapper {
      padding: 30px 80px; } }

.wrapper--no-horizontal-spacing {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0; }

.wrapper--no-left-spacing {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px 0 0; }

.outer-wrapper--gray-light {
  background-color: #F8F8F9; }

.inner-wrapper {
  max-width: 1000px; }

.wrapper__section {
  padding: 20px 0; }

.is-hidden-and-accessible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px; }

.offset-feature {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-image: url("../images/phone2.png");
  background-size: 200px 420px;
  background-position: -50px 40px;
  background-repeat: no-repeat;
  min-height: 480px; }
  @media screen and (min-width: 751px) {
    .offset-feature {
      background-size: 390px 800px;
      background-position: 80px 40px;
      min-height: 860px; } }

.offset-blurbs {
  padding-left: 170px; }
  @media screen and (min-width: 751px) {
    .offset-blurbs {
      padding-left: calc(50% + 80px + 20px * 2); } }

hr {
  border: 0;
  height: 1px;
  background-color: #F2F2F6; }

hr.offset {
  position: relative;
  left: -20px;
  width: calc(100% + spacing);
  z-index: -1; }
  @media screen and (min-width: 751px) {
    hr.offset {
      left: -80px;
      width: calc(100% + spacing-edge); } }

.inline-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.inline-input--left-justified {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.input--inline {
  border: 1px solid #F2F2F6;
  text-indent: 10px;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 230px; }

.locations-feature {
  position: relative;
  background-image: url("../images/phone3.png");
  background-position: center -30px;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 600px;
  max-width: 800px;
  margin: 0 auto; }
  @media screen and (max-width: 749px) {
    .locations-feature {
      min-height: 420px;
      background-size: 325px; } }
  @media screen and (max-width: 419px) {
    .locations-feature {
      background-position: center 0;
      background-size: 75%; } }

.location-pin {
  width: 17px;
  height: 22px; }

.location {
  background: #FFFFFF;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: inline-block;
  position: absolute;
  display: -ms-flexbox;
  display: flex; }

.locations-feature__text {
  margin-left: 10px; }

.location-1 {
  left: 10%;
  top: 12%; }
  @media screen and (max-width: 749px) {
    .location-1 {
      top: 8%; } }

.location-2 {
  right: 5%;
  top: 21%; }
  @media screen and (max-width: 749px) {
    .location-2 {
      top: 24%; } }

.location-3 {
  left: 2%;
  top: 39%; }
  @media screen and (max-width: 749px) {
    .location-3 {
      top: 40%; } }

.location-4 {
  right: 4%;
  top: 48%; }
  @media screen and (max-width: 749px) {
    .location-4 {
      top: 55%; } }

.social {
  padding: 80px 0 20px 0; }
  .social * {
    margin: 0 10px;
    text-decoration: none !important; }

.last-item {
  padding-bottom: 80px; }

.menu {
  font-family: 'Alegreya';
  font-weight: 100;
  padding: 20px; }

.menu__list {
  margin: 0;
  padding: 0;
  text-align: center; }

.menu__item {
  display: block; }
  @media screen and (min-width: 751px) {
    .menu__item {
      list-style: none;
      display: inline-block; }
      .menu__item:not(:last-child):after {
        content: '\00B7';
        display: inline-block; } }

.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity ease-in-out; }
  .modal-backdrop.is-active {
    opacity: 1;
    z-index: 100;
    pointer-events: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }

.modal__page {
  display: none;
  position: relative;
  background-color: #FFFFFF;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  transform: translate3d(0, 300px, 0);
  animation-delay: 0.3s;
  transition: 0.3s transform ease-in-out; }
  @media screen and (min-width: 751px) {
    .modal__page {
      margin: 40px auto;
      border-radius: 6px;
      transition: 0.3s transform ease-in-out; } }
  .is-active .modal__page {
    transform: translate3d(0, 0, 0);
    transition: 0.3s transform ease-in-out; }

.modal__close {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  fill: #565D65; }
