$button-padding: 10px;
$header-button-size: rem(60px);

.button {
  @include default(border-radius);
  padding: $button-padding;
  display: block;
  width: 100%;
  background-color: color(green);
  border: 1px solid color(green);
  cursor: pointer;
  color: color(white);
  line-height: 1;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  transition:
    background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus,
  &:active {
    border-color: color(green, light);
    background-color: color(green, light);
  }
}

.button--inline {
  display: inline-block;
  width: auto;
}

.button--unstyled {
  background: none;
  border: none;
}

.button--header {
  @include transition(transform property(out-fast));
  position: absolute;
  top: 0px;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  background-color: color(slate);
  width: $header-button-size;
  height: $header-button-size;
  transform: translateY(0);

  @include after(medium-screens) {
    transform: translateY(-44px);
    pointer-events: none;
  }
}
