.button {
  color: $white;
  background-color: $yellow;
  padding: $spacing $spacing-loose;
  display: inline-flex;
  margin: 0 auto;
  text-decoration: none;
  transition:
    0.2s color ease-in-out,
    0.2s transform ease-in-out;

  @include after(medium-screens) {
    margin: initial;
  }
}

.button--inline {
  margin: 0;

  &:hover {
    transform: scale(1) !important;
  }
}

.button--center {
  margin: 0 auto;
}

.button:hover {
  transform: scale(1.05);
  background-color: lighten($yellow, 3%);
}

.button__text {
  position: relative;
  top: 1px;
}

.button__text-with-icon {
  margin-left: $spacing-tight;
}

.button--shadow {
  box-shadow: 0 4px 12px 0 rgba(255, 206, 0, 0.4);
}
