.cta--mobile {
  @include after(medium-screens) {
    display: none;
  }
}

.cta--non-mobile {
  @include before(medium-screens) {
    display: none !important;
  }

  @include after(medium-screens) {
    display: flex !important;
  }
}

.cta__label {
  display: inline-block;
  margin-bottom: $spacing-tight;
}

.success {
  color: $yellow;
  margin-top: $spacing-tight;
}

.failure {
  color: $red;
  max-width: 286px;
  margin-top: $spacing-tight;
}

.cta--center {
  justify-content: center;
}
