$footer-section-min-width: rem(breakpoint-value-for(small-screens));

footer {
  background-color: color(slate);
  padding: spacing(loose);

  * {
    @include color(white);
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-contents: space-between;
}

.footer-section {
  flex: 1 1 $footer-section-min-width / 2 + (spacing() * 4);
  margin: spacing() 0;
  padding: 0 spacing();

  @include before(small-screens) {
    text-align: center;
  }
}
