$truck-width--large: 180px;
$truck-width--medium: 160px;
$truck-width--small: 126px;

$truck-top-nudge: -24px;

.footerGrey {
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: #eee;
  margin: auto;
  max-width: $siteMaxWidth;
  padding: 0 (default(spacing) * 2) 0 224px;

  h3 {
    margin: default(spacing) 0;
  }

  @include before(medium-screens) {
    padding: 0 default(spacing) * 2 0 ($truck-width--small + default(spacing) * 2);
  }
}

.footerBlue {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 3px 10px 0px #999;
  padding: 0;
  display: block;
  background: #006db7;
  max-width: $siteMaxWidth;
  padding: 20px;

  * {
    color: color(gray, dark);
  }
}

.footerTruck {
  margin-top: -36px;
  margin-left: 12px;
  position: absolute;
  max-width: $truck-width--large;

  @include before(medium-screens) {
    max-width: $truck-width--medium;
  }

  @include before(small-screens) {
    max-width: $truck-width--small;
    margin-top: $truck-top-nudge;
  }
}

.footerContent {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: default(spacing) * 5;
  position: relative;

  @include before(medium-screens) {
    max-width: 50%;
  }

  @include before(small-screens) {
    margin-top: 0;
  }
}
