$logo-max-width: 310px;
$repeatable-grass-width: 55px;
$repeatable-grass-height: 60px;

.phone {
  border-bottom-right-radius: default(border-radius);
  left: 0;
}

.menu,
.close {
  right: 0;
  border-bottom-left-radius: default(border-radius);
}

.logo {
  padding-top: spacing();
  max-width: $logo-max-width;
  margin: 0 auto;

  @include after(small-screens) {
    padding-top: spacing(loose);
  }
}

.header-text {
  @include font-size(small);
  @include transition(transform property(in-fast));
  transform: translateY(-2em);
  position: absolute;
  top: 0;
  padding: spacing();

  @include after(medium-screens) {
    transform: translateY(0);
  }
}

.header-text--phone {
  left: 0;
}

.header-text--address {
  right: 0;
}

.menu--condensed {
  @include transition(transform property(ease-in-out));
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  background-color: color(gray);

  @include after(medium-screens) {
    display: none;
  }

  &.menu-is-visible {
    transform: translate3d(0, 0, 0);
  }
}

.menu--expanded {
  background-color: color(green);
  display: none;

  @include after(medium-screens) {
    display: block;
  }
}

.menu__title {
  padding: spacing();
}

.repeatable-grass {
  background-image: url('../images/grass-repeatable.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: $repeatable-grass-width $repeatable-grass-height;
}
