.header--expanded {
  @include default(box-shadow);
  display: none;
  min-height: 90px;

  @include after(medium-screens) {
    display: flex;
  }
}

.header--condensed {
  @include default(box-shadow);
    display: flex;
    min-height: 90px;display: block;

  @include after(medium-screens) {
    display: none;
  }
}

.nav {
  flex: 1 1 auto;
  background-color: #006db7;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 35px;
  margin-top: 20px;
  color: #FFF;

  @include before(large-screens) {
    display: none;
  }
}

.phone {
  font-family: 'Dosis';
  font-size: 24px;
  margin-right: 47px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #FFF;
  text-align: right;
  letter-spacing: 1px;
}
