$hero-min-height--large-screens: 625px;
$border-width: 2px;
$phone-width--medium-screens: 324px;
$phone-width--large-screens: 414px;
$phone-offset: rotate(30deg) translate(-197px, -121px);
$phone-cutoff: -270px;

.hero {
  position: relative;
  overflow: hidden;
  min-height: $hero-min-height--large-screens;
}

.hero__cta {
  text-align: center;
  padding: $spacing-loose 0;
  animation: 0.35s ease-in-out fade-in;

  @include after(medium-screens) {
    text-align: left;
    max-width: 50%;
    margin-left: 0;
  }

  @include after(large-screens) {
    max-width: 456px;
    margin-left: $spacing-loose * 2;
  }
}

.hero__phone {
  margin-top: $spacing-tight;
  margin-bottom: $phone-cutoff;
  animation: 0.75s ease-in-out fade-in;

  @include after(medium-screens) {
    position: absolute;
    top: 0;
    right: $spacing-loose * 2;
    top: $spacing;
    max-width: $phone-width--medium-screens;
  }

  @include after(large-screens) {
    right: 0;
    max-width: $phone-width--large-screens;
    transform: $phone-offset;
  }
}

// Stylistic rectangles in the corners of the hero section.
.hero-block {
  opacity: 0;
  transition: 1.3s opacity ease-in-out;

  @include after(medium-screens) {
    opacity: 1;
    position: absolute;
    border: $border-width solid $gray-light;
    z-index: -1;
  }
}

.hero__block-left-1 {
  left: -$border-width;
  bottom: -$border-width;
  width: 5%;
  height: 75%;
}

.hero__block-left-2 {
  left: -$border-width;
  bottom: -$border-width;
  width: 25%;
  height: 15%;
}

.hero__block-right-1 {
  top: -$border-width;
  right: -$border-width;
  width: 60%;
  height: 10%;
}

.hero__block-right-2 {
  top: -$border-width;
  right: -$border-width;
  width: 45%;
  height: 70%;
}

@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
