$icon-size--small: 23px;
$icon-size--medium: 50px;

.icon--small {
  max-width: $icon-size--small;
  height: $icon-size--small;
}

.icon--medium {
  max-width: $icon-size--medium;
  height: $icon-size--medium;
}
