.list {
  margin: 0;
  overflow: hidden;
  padding: spacing();
  list-style: none;

  * {
    padding: spacing(tight) 0;
    text-decoration: none;
  }

  a {
    @include transition(border-bottom property(out-back));
    border-bottom: rem(0px) solid color(white);

    &:hover {
      border-bottom: spacing() solid color(white);
    }
  }
}

.list--right-aligned {
  * {
    text-align: right;
  }
}

.list--inline {
  * {
    display: inline-block;
  }
}

.list--flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list--ordered {
  list-style: initial;
  list-style-type: decimal;
  padding-left: spacing(loose);
}
