$dropdownWidth: 215px;

#nav {
  display: flex;
  flex-wrap: wrap;
}

#nav li {
  flex: 1 1 auto;
  position: relative;
  padding: 1px default(spacing--small);
}

#nav, #nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#nav a {
  @include color(white, base);
  display: block;
  text-decoration: none;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 20px;
  height: 43px;
  transition: font-size 0.2s ease-in-out;

  @include before(large-screens) {
    @include font-size(small);
  }
}

#nav ul a {
  height: auto;
}

#nav li ul {
  @include default(box-shadow);
  position: absolute;
  border-radius: 0 0 default(border-radius) default(border-radius);
  width: $dropdownWidth;
  margin-left: calc(50% - #{$dropdownWidth} / 2);
  padding: default(spacing--small) / 2;
  background-color: #ededed;
  z-index:1000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  margin-top: 1px;
}

#nav li:hover ul, #nav li.sfhover ul  {
  opacity: 1;
  pointer-events: all;
}

.navCover {
  background-color: #ededed;
  position: relative;
}

#nav li ul li {
  margin: 5px 0 0;
  display: block;
  border-bottom: 1px dashed #999;
  border-spacing: 10px;
  padding-bottom: 5px;
}

#nav li ul li.noBorder {
  border: none;
}

#nav li ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  max-width: $dropdownWidth;
  color: #262626;
}

#nav li ul li a:hover {
  color: #94c400;
}

#content {
  clear: left;
  color: #ccc;
  font-weight: bolder;
  animation: ease-in-out alternate;
  z-index: 500;
}

.arrow {
  background-image: url(../img/menu.png);
  background-position: center 150%;
  background-repeat: no-repeat;
  transition: background-position 0.2s ease-in-out;
}

.arrow:hover {
  background-position: center bottom;
}
