$height: 270px;
$height-large: 350px;

#slides,
.slides_container {
  position: relative;
  width: 100%;
  height: $height;
  overflow: hidden;

  @include after(medium-screens) {
    height: $height-large;
  }
}

.slides_control {
  width: 100% !important;
}

.slide {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: $height;
  max-width: $siteMaxWidth;

  @include after(medium-screens) {
    display: flex;
    align-items: center;
    height: $height-large;
  }
}

.slide1 {
  background-image: url(../images/lawn.jpg);
}

.slide2 {
  background-image: url(../images/tv.jpg);

  @include after(medium-screens) {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.slide__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: spacing();
  background-color: rgba(color(white), 0.75);

  @include before(medium-screens) {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
  }

  @include after(medium-screens) {
    height: auto;
    max-width: 240px;
    margin: spacing();
  }
}

.slide__cta-container {
  text-align: center;
}

.slide__cta {
  margin-top: spacing(loose);
}

.pagination {
  display: none;
}
