$font-size-map: (
  small: 1.4rem,
  medium: 1.6rem,
  large: 2rem,
);

@function font-size($size) {
  @return map-get($font-size-map, $size);
}

@mixin font-size($size) {
  font-size: font-size($size);
}

@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Anton);

html {
  font-size: 62.5%;
}

body {
  * {
    color: color(slate, base);
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-smoothing: subpixel-antialiased;
  }
}

.type--heading {
  @include font-size(large);
  font-weight: 600;
}

.type--small {
  @include font-size(small);
}

.type--medium {
  @include font-size(medium);
}

.type--large {
  @include font-size(large);
}

// Source: https://github.com/kennethormandy/normalize-opentype.css/blob/master/normalize-opentype.scss
// Turns on kerning, standard ligatures, and proportional numerals.

* {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0;
}

// Needs refactoring


h1 {
  @include color(slate, base);
  font-size: 34px;
  font-family: 'Dosis';
  margin: 0;
  font-weight: lighter;
  line-height: 30pt;
}

h2 {
  font-size: 26px;
  font-family: 'Dosis';
  margin: 8px 0;
  font-weight: 600;
  color: #006db7;
}

h3 {
  @include color(slate, base);
  font-size: 24px;
  font-family: 'Dosis';
  margin: 0;
  font-weight: lighter;
  line-height: 20pt;
}

h4 {
  font-size: 18px;
  font-family: 'Dosis';
  margin: 8px 0;
  font-weight: lighter;
  color: #333;
}

h5 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0;
  color: #333;
}

h6 {
  font-size: 20px;
  font-family: 'Anton';
  margin: 8px 0;
  line-height: 20pt;
  color: black;
  letter-spacing: 2px;
  font-weight:lighter;
}

h2.services {
  @include color(slate, base);
  font-size: 27px;
  font-family: 'Dosis';
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  margin-top: 20px
}

.quote {
  position: relative;
  margin-left: 24px;
}

.quote:before {
  display: inline-block;
  content: '“';
  position: absolute;
  top: -25px;
  left: -27px;
  font-size: 80px;
  opacity: 0.75;
}

.quote:after {
  position: relative;
  display: inline-block;
  content: '”';
  top: 37px;
  font-size: 80px;
  line-height: 0px;
  opacity: 0.75;
}

h1.services {
  @include color(slate, base);
  font-size: 27px;
  font-family: 'Dosis';
  margin: 0px;
  font-weight: lighter;
  line-height: 20pt;
  margin-top: 20px
}

.hero-title {
  font-family: 'Anton';
  font-size: 40px;
  line-height: 42px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

.small p {
  font-size: 9px;
}
