.button {
  color: @white;
  background-color: @yellow;
  padding: @spacing @spacing-loose;
  display: flex;
}

.button__text {
  position: relative;
  top: 1px;
}

.button__text-with-icon {
  margin-left: @spacing-tight;
}

.button--shadow {
  box-shadow: 0 6px 12px 0 rgba(255, 206, 0, 0.4);
}
