@site-max-width: 1200px;

.logo {
  display: block;
  max-width: 243px;
}

.outer-wrapper--gray-light {
  background-color: @white-dark;
}

.outer-wrapper--white {
  background-color: @white;
}

.inner-wrapper {
  max-width: @site-max-width;
}

.is-hidden-and-accessible{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}
