@site-max-width: 1000px;

.logo {
  display: block;
  max-width: 242px;
  max-height: 71px;
}

.wrapper {
  position: relative;
  padding: @spacing-loose;

  @media @after-small-screens {
    max-width: @site-max-width;
    margin: 0 auto;
    padding: @spacing-loose @spacing-loose * 2;
  }

  @media @after-medium-screens {
    padding: @spacing-loose @spacing-edge;
  }
}

.wrapper--no-horizontal-spacing {
  max-width: @site-max-width;
  margin: 0 auto;
  padding: @spacing-loose 0;
}

.wrapper--no-left-spacing {
  max-width: @site-max-width;
  margin: 0 auto;
  padding: 0 @spacing-loose 0 0;
}

.outer-wrapper--gray-light {
  background-color: @white-dark;
}

.inner-wrapper {
  max-width: @site-max-width;
}

.wrapper__section {
  padding: @spacing 0;
}

.is-hidden-and-accessible{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}

@offset-feature-width: 200px;
@offset-feature-height: 420px;

@offset-feature-width--large: 390px;
@offset-feature-height--large: 800px;

@offset: 50px;

.offset-feature {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  background-image: url('/assets/phone2.png');
  background-size: @offset-feature-width @offset-feature-height;
  background-position: -@offset @spacing * 2;
  background-repeat: no-repeat;
  min-height: @offset-feature-height + @spacing * 3;

  @media @after-small-screens {
    background-size: @offset-feature-width--large @offset-feature-height--large;
    background-position: @spacing-edge @spacing * 2;
    min-height: @offset-feature-height--large + @spacing * 3;
  }
}

.offset-blurbs {
  padding-left: @offset-feature-width - @offset + @spacing;

  @media @after-small-screens {
    padding-left: ~"calc(50% + @{spacing-edge} + @{spacing} * 2)";
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: @gray-light;
}

hr.offset {
  position: relative;
  left: -@spacing;
  width: ~"calc(100% + @{spacing})";
  z-index: -1;

  @media @after-small-screens {
    left: -@spacing-edge;
    width: ~"calc(100% + @{spacing-edge})";
  }
}

.inline-input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.input--inline {
  border: 1px solid @gray-light;
  text-indent: @spacing;

  @media @after-small-screens {
    width: 40%;
  }
}

.locations-feature {
  position: relative;
  background-image: url('/assets/phone3.png');
  background-position: center -30px;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 600px;
  max-width: 800px;
  margin: 0 auto;
}

.location-pin {
  width: 17px;
  height: 22px;
}

.location {
  background: @white;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  padding: @spacing-tight;
  display: inline-block;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.locations-feature__text {
  margin-left: @spacing;
}

.location-1 {
  left: 10%;
  top: 20%;
}

.location-2 {
  right: 5%;
  top: 30%;
}

.location-3 {
  left: 2%;
  top: 50%;
}

.location-4 {
  right: 4%;
  top: 60%;
}

.social {
  padding: @spacing-edge 0 @spacing 0;

  * {
    margin: 0 @spacing-tight;
  }
}

.last-item {
  padding-bottom: @spacing-edge;
}
